{% extends "base.html" %}

{% block body_block %}
<div class="container">
    <h1>Todo List</h1>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn">
            <i class="fas fa-plus-circle"></i>
            add
        </button>
    </form>

    <div>
        {% if tasks %}
        <ul>
            {% for task in tasks %}
            <li>
                <p>{{task}}</p>
                <div class="btns">
                    <a href="{% url 'update_item' task.id %}" class="btn-item btn-edit">
                        <i class="fas fa-pencil-alt"></i>
                        edit
                    </a>
                    <a href="{% url 'delete_item' task.id %}" class="btn-item btn-delete">
                        <i class="fas fa-trash-alt"></i>
                        delete
                    </a>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No task</p>
        {% endif %}
    </div>
</div>
{% endblock %}