{% extends "base.html" %}

{% block body_block %}
<div class="container">
    <h1>Todo List</h1>
    <p>Web App built with Django and PostgreSQL</p>

    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="add" class="btn">
    </form>

    <div>
        {% if task %}
        <ul>
            {% for task in tasks %}
            <li>
                <p>{{task}}</p>
                <a href="{% url 'updateItem' todo.id %}"><button>edit</button></a>
                <a href="{% url 'deleteItem' todo.id %}"><button>delete</button></a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No task</p>
        {% endif %}
    </div>
</div>
{% endblock %}